<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SetupProject4" Language="1033" Version="1.0.0.0" Manufacturer="Usman" UpgradeCode="775acb5d-fc94-48a4-acec-769487936fb3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
		<!--MyProperties-->
		<Property Id="WIXUI_INSTALLDIR" Value="MY_INSTALL_LOCATION" />
		<Property Id="FILEPATH" Value="C:\"/>
		<Feature Id="ProductFeature" Title="SetupProject4" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<UI Id="MyWixUI_InstallDir">
			<UIRef Id="WixUI_InstallDir" />
			<DialogRef Id="MyCustomPropertiesDlg"/>

			<Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="MyCustomPropertiesDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MyCustomPropertiesDlg" Order="1">1</Publish>
		</UI>

	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="MY_INSTALL_LOCATION" Name="SetupProject4" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="MY_INSTALL_LOCATION">
			<!--<Component Id="myapplicationExe" Guid="*">
				<File  Source="C:\Users\administrator\source\repos\VantageConnectorService\VantageConnectorService\bin\Debug\net6.0\VantageConnectorService.dll" KeyPath="yes" Checksum="yes"/>
			</Component>-->

			<Component Id="ServiceExecutable" Win64="yes">

				<!-- Copies the App.WindowsService.exe file using the
                     project reference preprocessor variables -->
				<File Id="App.WindowsService.exe"
                      Source="C:\TempUsman\VantageConnectorService.exe"
                      KeyPath="yes" />

				<!-- Remove all files from the INSTALLFOLDER on uninstall -->
				<RemoveFile Id="ALLFILES" Name="*.*" On="both" />

				<!-- Tell WiX to install the Service -->
				<ServiceInstall Id="ServiceInstaller"
                                Type="ownProcess"
                                Name="Heartbeat"
                                DisplayName="Heartbeat a"
                                Description="A joke service that periodically logs nerdy humor."
                                Start="auto"
                                ErrorControl="normal" />

				<!-- Tell WiX to start the Service -->
				<ServiceControl Id="StartService"
                                Start="install"
                                Stop="both"
                                Remove="uninstall"
                                Name="Heartbeat"
                                Wait="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
