<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<UI Id="CustomSetupUI">
			<TextStyle Id="RobotoBold" FaceName="RobotoBold" Size="10" />
			<Property Id="DefaultUIFont" Value="RobotoBold" />
			<DialogRef Id="InputDlg"/>
			<TextStyle Id="TahomaWelcome" FaceName="Tahoma" Size="14" Bold="yes" />
			<TextStyle Id="TahomaInput" FaceName="Tahoma" Size="10" />
			<Dialog Id="SetupDlg" Width="300" Height="200" Title="My Custom App">
				<Control Id="WelcomeMsg" Type="Text" X="45" Y="40" Width="250" Height="80" Transparent="yes" Text="{\TahomaWelcome}Welcome to the Setup Wizard"/>
				<Control Id="Info" Type="Text" X="27" Y="80" Width="300" Height="80" Transparent="yes" Text="{\TahomaInfo}Click 'Next' to continue or 'Cancel' to exit the Setup Wizard"/>
				<Control Id="InstallBtn" Type="PushButton" Text="Next" Height ="25" Width="60" X="165" Y="130">
					<Publish Event="EndDialog" Value="Return" />
				</Control>
				<Control Id="CancelBtn" Type="PushButton" Text="Cancel" Height ="25" Width="60" X="80"  Y="130" Cancel ="yes">
					<Publish Event="EndDialog" Value="Exit" />
				</Control>
			</Dialog>
		</UI>
		<InstallUISequence>
			<Show Dialog ="SetupDlg" Before="ExecuteAction"/>
		</InstallUISequence>
	</Fragment>
</Wix>